body {
  background-color: rgba(236, 116, 184, 0.32);
  font-family: "Roboto Slab", serif;
}
#container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#heading {
  background-color: #83d1f8;
  padding: 5%;
  font-weight: 500;
  justify-content: center;
  font-size: large;
  font-weight: 600;
  width: 99%;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  display: flex;
  font-size: x-large;
  flex-wrap: wrap;
}
#colors {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#a,
#b,
#c,
#d {
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  margin: 2%;
  border-radius: 5px;
  border: 2px groove black;
}
#a:hover,
#b:hover,
#c:hover,
#d:hover {
  transform: translate(-1%, -1%);
  box-shadow: 2px 2px 10px 5px rgba(152, 143, 244, 0.62);
}
#message {
  width: 80%;
  border: 1px solid white;
  background: rgba(215, 238, 72, 0.62);
  padding: 8%;
  margin: 4%;
  align-items: center;
  border-radius: 5px;
  margin: auto;
  display: none;
}
@viewport {
  zoom: 1;
  width: extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1;
}
